@page "/mantenedorUsuario"

<div class="container" style="padding: 0; margin-top: -10px">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-evenly col-lg-9 col-xl-9 mt-3">
            <input class="btn btn-warning btn-sm border"
                   style="color: white"
                   type="button"
                   value="Administrar Usuarios" />
            <input class="btn btn-warning btn-sm border"
                   style="color: white"
                   type="button"
                   value="Administrar Pruebas de Laboratorio" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 bg-white mt-3"
             style="border-radius: 20px">
            <div>
                <div>
                    <h5 class="text-center text-uppercase mt-2"
                        style="
                                    font-family: 'Courier New', Courier,
                                        monospace;
                                    font-weight: 600;
                                ">
                        Configuración de usuarios
                    </h5>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-start">
                        <div class="d-flex col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-3 mb-3">
                            <div>
                                <label class="mt-1 mx-1"
                                       for="nombreUsuario">
                                    <strong>Nombre (usuario)</strong>
                                </label>
                            </div>
                            <div>
                                <input class="form-control form-control-sm"
                                       style="font-size: 15px"
                                       type="text"
                                       id="nombreUsuario" />
                            </div>
                            <div>
                                <input class="btn btn-success btn-sm mx-2"
                                       type="button"
                                       value="Buscar" />
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-fixed mx-auto"
                       style="
                                display: block;
                                min-height: 400px;
                                height: 400px;
                                overflow-y: auto;
                                scrollbar-gutter: stable both-edges;
                            ">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre(s)</th>
                            <th scope="col">Apellido(s)</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Fecha Registro</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ramón Orlando</td>
                            <td>Castillo Bermudez</td>
                            <td>Administrador</td>
                            <td>25/10/2019</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Antonio Sangilbert</td>
                            <td>Rodriguez Martinez</td>
                            <td>Cajero</td>
                            <td>12/12/2022</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Ramón Orlando</td>
                            <td>Castillo Bermudez</td>
                            <td>Administrador</td>
                            <td>25/10/2019</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Antonio Sangilbert</td>
                            <td>Rodriguez Martinez</td>
                            <td>Cajero</td>
                            <td>12/12/2022</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Ramón Orlando</td>
                            <td>Castillo Bermudez</td>
                            <td>Administrador</td>
                            <td>25/10/2019</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Antonio Sangilbert</td>
                            <td>Rodriguez Martinez</td>
                            <td>Cajero</td>
                            <td>12/12/2022</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Ramón Orlando</td>
                            <td>Castillo Bermudez</td>
                            <td>Administrador</td>
                            <td>25/10/2019</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Antonio Sangilbert</td>
                            <td>Rodriguez Martinez</td>
                            <td>Cajero</td>
                            <td>12/12/2022</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Ramón Orlando</td>
                            <td>Castillo Bermudez</td>
                            <td>Administrador</td>
                            <td>25/10/2019</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Antonio Sangilbert</td>
                            <td>Rodriguez Martinez</td>
                            <td>Cajero</td>
                            <td>12/12/2022</td>
                            <td>
                                <input class="btn btn-primary btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Editar" />
                                <input class="btn btn-danger btn-sm mx-1 mt-1"
                                       style="
                                                padding: 0.2rem 0.4rem;
                                                font-size: 0.7rem;
                                            "
                                       type="button"
                                       value="Eliminar" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mb-2">
                <input class="btn btn-success btn-sm mt-1 mb-1"
                       type="button"
                       value="Registrar Usuario" />
            </div>
        </div>
    </div>
</div>


@code {

}
