@page "/menuMedicoAtender"
@using Proyecto2Maui.Servicios;
@inject IMedicoService medicoService

<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3 bg-white"
             style="border-radius: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h5 class="text-center text-uppercase mt-2" style="
                                font-family: 'Courier New', Courier, monospace;
                                font-weight: 600;">
                            Datos paciente
                        </h5>

                        <div class="form-group">
                            <div>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div>
                                <input type="text"
                                       class="form-control-sm mb-2"
                                       style="border: 1px solid gainsboro"
                                       id="nombre"
                                       placeholder="Ingrese nombre(s)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="apellido">Apellido</label>
                            </div>
                            <div>
                                <input type="text"
                                       class="form-control-sm mb-2"
                                       style="border: 1px solid gainsboro"
                                       id="apellido"
                                       placeholder="Ingrese apellido(s)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="cedula">Cédula</label>
                            </div>
                            <div>
                                <input type="text"
                                       class="form-control-sm mb-2"
                                       style="border: 1px solid gainsboro"
                                       id="cedula"
                                       placeholder="Ingrese la cédula" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div>
                                <label>Entrega de resultados:</label>
                            </div>
                            <div>
                                <input type="radio" name="entrega" id="inmediata">
                                <label for="inmediata">Inmediata</label>
                                <input style="margin-left: 10px;" type="radio" name="entrega" id="luego">
                                <label for="luego">Espera</label>

                            </div>
                        </div>
                        <div class="mt-4 d-flex justify-content-between">
                            <input class="btn btn-danger" type="button" value="Cerrar">
                            <input class="btn btn-success" type="button" value="Confirmar">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <h5 class="text-center text-uppercase mt-2" style="
                                font-family: 'Courier New', Courier, monospace;
                                font-weight: 600">
                            Pruebas a realizar
                        </h5>
                        <table class="table mt-4 border rounded"
                               style="
                                        display: block;
                                        height: 400px;
                                        overflow-y: auto;
                                        scrollbar-gutter: stable both-edges;
                                    ">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Código</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Hemograma</th>
                                    <td>T-001</td>

                                </tr>
                                <tr>
                                    <th scope="row">VIH</th>
                                    <td colspan="">F-005</td>

                                </tr>
                                <tr>
                                    <th scope="row">Hemograma</th>
                                    <td>T-001</td>

                                </tr>
                                <tr>
                                    <th scope="row">VIH</th>
                                    <td colspan="">F-005</td>

                                </tr>
                                <tr>
                                    <th scope="row">Hemograma</th>
                                    <td>T-001</td>

                                </tr>
                                <tr>
                                    <th scope="row">VIH</th>
                                    <td colspan="">F-005</td>

                                </tr>
                                <tr>
                                    <th scope="row">Hemograma</th>
                                    <td>T-001</td>

                                </tr>
                                <tr>
                                    <th scope="row">VIH</th>
                                    <td colspan="">F-005</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-3 text-white" style="border-radius: 10px; background-color:#162d43ff;">
            <div class="container">
                <h5 class="text-center text-uppercase mt-2 mb-2" style="
                        font-family: 'Courier New', Courier, monospace;
                        font-weight: 600;
                    ">
                    Lista pacientes a atender
                </h5>
                <div style="
                        display: block;
                        height: 400px;
                        overflow-y: auto;
                        scrollbar-gutter: stable both-edges;
                    ">
                    <div class="row mt-2 border rounded p-2 mt-4">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-001</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                    <div class="row mt-2 border rounded p-2">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-002</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                    <div class="row mt-2 border rounded p-2">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-003</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                    <div class="row mt-2 border rounded p-2">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-004</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                    <div class="row mt-2 border rounded p-2">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-005</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                    <div class="row mt-2 border rounded p-2">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-1">
                            <label><strong>T-006</strong></label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-1">
                            <label>Carlos Antonio Peña</label>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <input class="btn btn-primary btn-sm"
                                   type="button"
                                   value="Ver" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {


    protected async override Task OnInitializedAsync()
    {
        //Todos Funcionan

        // var a = await medicoService.BuscarPaciente("7");

        // var b = await medicoService.ObtenerEstadosRecibo();

        // var c = await medicoService.CambiarEstadoRecibo("7", "Completado");

        // var d = await medicoService.ObtenerPacientesPendientes();

    }





}
