@page "/menuPruebas"

<h3 class="bg-gradient">Pruebas y Servicios disponibles</h3>




<!-- Botón para agregar tarjetas seleccionadas a una lista -->
<button @* @onclick="" *@>Agregar seleccionadas</button>



@code
{

}
