@page "/"

<div class="text-center">
    <h1 class="display-4">Sobre el proyecto</h1>
</div>

<div class="text-center">
    <p>Proyecto de automatizacion de procesos para Laboratorio Clinico Herasme.</p>

    <p>Efectuado en el transcurso de la asignatura Proyecto de Software II.</p>
    <p>.</p>

    <h2 class="text-uppercase">Integrantes del grupo (Desarrolladores de software)</h2>





    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Matricula</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>Masuel</td>
                <td>Matos Montero</td>
                <td>2021-0560</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Fabio</td>
                <td>Perez Batista</td>
                <td>2020-0281</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Leandro</td>
                <td>Batista</td>
                <td>2019-0249</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Geroge</td>
                <td>Reyes Cuevas</td>
                <td>2020-0338</td>
            </tr>
        </tbody>
    </table>



    <h2 class="text-uppercase text-black">Tecnologias Usadas</h2>
    <h5 class="text-uppercase">Back-End:</h5>
    <p>ASP.Net 7 WebAPI</p>
    <p>ORM EntityFrameWork core 7</p>
    <p>JWT</p>
    <h5 class="text-uppercase">Base De Datos</h5>
    <p>Azure Sql Server</p>
    <h5 class="text-uppercase">Front-End:</h5>
    <p>.Net MAUI Blazor app</p>
    <p>HTML</p>
    <p>Bootstrap</p>
    <p>CSS</p>
    <p>JavaScript</p>
    <h5 class="text-uppercase">IDE:</h5>
    <p>Visual Studio 2022</p>

    <p>-------</p>
</div>
    







