@page "/"

<div class="text-center">
    <h1 class="display-4">Sobre el proyecto</h1>
</div>

    <p>Este es un proyecto universitario para un laboratorio clinico.</p>
    
    <p>Se efectura durando el transcurso de la materia Proyecto 2 en UCATEBA.</p>
    <p>.</p>

    <h2>Integrantes del grupo (Desadorolladores de software)</h2>
    
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Matricula</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">2</th>
            <td>Masuel</td>
            <td>Matos Montero</td>
            <td>2021-0560</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td >Fabio</td>
            <td>Perez Batista</td>
            <td>2020-0281</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Leandro</td>
            <td>Batista</td>
            <td>2019-0249</td>
        </tr>
    </tbody>
</table>


    <p></p>
    <p>Twitter: <a href="https://www.twitter.com/HighDrizz" class="font-weight-bold" target="_blank">@@HighDrizz</a></p>
    <p></p>
    <h3>Tecnologias usadas:</h3>
    <h5>Back-End:</h5>
    <p>Pendiente</p>
    <p>Pendiente</p>
    <h5>Data-Base Type</h5>
    <p>Pendiente</p>
    <h5>Front-End:</h5>
    <p>.Net MAUI Blazor app</p>
    <p></p>
    <p></p>
    <p>-------</p>
    <h5>Aviso:</h5>
    <p>Esto es una prueba de un futuro proyecto</p>


<SurveyPrompt Title="How is Blazor working for you?" />







